.AppCollectionItem {
  border-radius: 6px;
  border: unset;

  &__ImageContainer {
    border-radius: inherit;
  }

  &__TagWrapper {
    .badge {
      margin: 4px;
      text-transform: capitalize;
    }
  }

  &__User {
    text-decoration: none;
    color: #767676;

    &:hover {
      color: #767676;
      text-decoration: underline;
    }
  }

  .card-body {
    .card-title {
      a {
        text-decoration: none;
        font-weight: 600;
        color: #111;
        font-size: 18px;
        line-height: 1.34;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .card-text {
      font-size: 14px;
      color: #767676;
    }
  }
}
