.Collections {
  &__Header {
    h1 {
      font-size: 46px;
      line-height: 1.2;
      font-weight: 700;
      color: #111;
    }

    h2 {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.6;
      color: #111;

      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
