.AppUserCardItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 0.5px solid #ddd;

  &__user {
    &-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-avatar {
      background-color: rgba(0, 0, 0, 0.1);
      // border: 0.3px solid #ddd;
      border-radius: 36px;
      height: 32px;
      width: 32px;
    }

    &-container {
      margin-left: 6px;

      &-name {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 0;
        cursor: pointer;
        color: #fff;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
      &-subname {
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 0;
        cursor: pointer;
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__Download {
    svg {
      color: #767676;
    }
  }
}
