.TopicDetailStatus {
  &__Block {
    display: flex;
    align-items: center;
    min-height: 32px;

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.6;
      color: #111;
    }

    svg {
      color: #d1d1d1;
      width: 18px;
      height: 18px;
      margin-right: 14px;
    }
  }

  &__Contributions {
    font-weight: bolder;
    font-size: 15px;
    line-height: 1.6;
    color: #111;
  }

  &__Users {
    display: grid;
    grid-gap: 8px;
    grid-auto-flow: column;
  }
}
