:root {
  --white: "#fff";
  --black: "#000";
  --facebook: "#3b5998";
  --facebookShade: "#8b9dc3";
}

@import "~bootstrap/dist/css/bootstrap.css";
@import "~swiper/swiper-bundle.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-top: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
