.AppFooter {
  a {
    color: #767676;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
  }

  &__header {
    line-height: 1.2;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 32px;
  }
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #767676;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;

    a {
      margin-right: 4px;
    }
  }

  &__logo {
    width: 22px;
    margin-top: -5px;
    margin-right: 6px;
  }
}
